.wrap {
  margin: auto;
  width: 16rem;
  border: 1px solid #000000;
}

.btn {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border: none;
  background-color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
}

.disabled {
  border: 1px solid #bbbbbb;
  cursor: wait;
}

.disabled .btn {
  color: #bbbbbb;
}
